@import "../src/assets/fonts/fonts.css";

:root {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #623E2A;
  background-color: #F4F1ED;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gothic-bold {
  font-family: gothic-bold !important;
}
.gothic-extrabold {
  font-family: gothic-regular !important;
}
.gothic-regular {
  font-family: gothic-medium !important;
}
body {
  margin: 0;
  padding: 0;
}
